<table width="300px"><tr><td width="240">
<div id="inner_sidebar">
<% form_for :search do |s| %>
    <h3>Advanced Reports</h3>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.unobtrusive_date_text_picker :created_at_after %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.unobtrusive_date_text_picker :created_at_before %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <% if @stores -%>
    Store:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'All' } ) %><br />
    <% end -%>

    <% if params[:action] != 'top_products' %>
    Product:<br /><%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' } ) %><br />
    <% end -%>

    <p><%= button t("submit") %></p>
<% end %>

<table>
  <thead>
    <tr>
      <td><%= t("name") %></td>
      <td><%= t("description") %></td>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr>
      <td><%= link_to t(value[:name].downcase.gsub(" ","_")), send("#{key}_admin_reports_url".to_sym) %></td>
      <td><%= t(value[:description].downcase.gsub(" ","_")) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</td><td>
<a href="#" id="display_sidebar"><img src="/images/advanced_reporting/green_arrow_down.png" /></a>
<a href="#" id="hide_sidebar"><img src="/images/advanced_reporting/green_arrow_up.png" /></a>
</td></tr></table>

<% content_for :head do -%>
<%= javascript_include_tag 'jquery.tablesorter.min.js', 'advanced_reporting.js' %>
<%= stylesheet_link_tag 'advanced_reporting' %>
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['geomap', 'corechart']});
</script>
<% end -%>
